html,body{
    background-image: url(/image/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Nunito', sans-serif;
  }
  *{
    margin: 0;
    padding: 0;
  }
  
  .header{
    height: 100px;
    background: #34495e; 
    padding: 0 20px;
    color: fff;
  }
  .logo img{
    width: 70px;
    float: left;
    height: auto;
    margin: 15px 0px;
    margin-left: auto;
    margin-right: auto;
  
  }
  .menu{
    float: right;
    line-height: 100px;
  }
  .menu a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 5px;
    transition: 0.4s;
    font-size: 18px;
  }
  
  .show-menu-btn,.hide-menu-btn{
    transition: 0.4s;
    font-size: 35px;
    cursor: pointer;
    display: none;
  }
  .show-menu-btn{
    float: right;
  }
  .show-menu-btn i{
    line-height: 100px;
  }
  .menu a:hover,.show-menu-btn:hover,.hide-menu-btn:hover{
    color: #fe6931;
  }
  #chk{
    position: absolute;
    visibility: hidden;
    z-index: -1111;
  }
  main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem,1fr));
    grid-gap: 1.5rem;
    margin: 20px;
  }
  p{
    padding: 15px;
    font-size: 20px;
  }
  h2{
      color: lightsteelblue;
  }
  .box{
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); 
    padding: 10px;
    color: #fff;
  }
  .box:hover{
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); 
    color: rgb(20, 165, 209);
    transition: 0.6s ease
  }
  img{
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin: 30px 0px;
  }
  #nano{
      margin: 150px 0px 0px 0px;
  }

  footer{
      width: 100%;
      max-width: 100%;
      margin-top: 2rem;
      text-align: center;
      
  }
  footer .copyright{
    letter-spacing: 0.2rem;
    font-size: 0.6rem;
    margin-bottom: 0;
    text-transform: uppercase;
    color: lightsteelblue;
    text-decoration: none;
    
}
footer .copyright a{
    text-decoration: none;
    color: lightsteelblue;
    
}
  @media screen and (max-width: 550px){
      
  .show-menu-btn,.hide-menu-btn{
    display: block;
  }
  .menu {
    position: fixed;
    width: 70%;
    height: 100vh;
    background: #333;   
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0px;
    line-height: normal;
    transition: 0.7s;
  }
  .menu a{
    display: block;
    padding: 20px;
    font-size: 15px;
  }
  .hide-menu-btn{
    position: absolute;
    top: 40px;
    right: 40px;
    
  }
  #chk:checked ~ .menu{
    right: 0;
  }
  img{
    display: block;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    
}
#nano{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
 }
 .logo img{
  width: 55px;
  float: left;
  height: auto;
  margin: 25px 0px;
  margin-left: auto;
  margin-right: auto;

}
footer{
  width: 90%;
  max-width: 100%;
  margin-top: 2rem;
  text-align: center;
  margin-top: 200px;
  padding: 0px 20px 0px 20px;
  }
}  
