html,body{
  background-image: url(/WebProject/image/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
*{
  margin: 0;
  padding: 0;
}

.header{
  height: 100px;
  background: #34495e; 
  padding: 0 20px;
  color: fff;
}
.clock{
  color: #fff;
  line-height: 100px;
  float: left;
  text-transform: uppercase;
}
.menu{
  float: right;
  line-height: 100px;
}
.menu a{
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 5px;
  transition: 0.4s;
}

.show-menu-btn,.hide-menu-btn{
  transition: 0.4s;
  font-size: 35px;
  cursor: pointer;
  display: none;
}
.show-menu-btn{
  float: right;
}
.show-menu-btn i{
  line-height: 100px;
}
.menu a:hover,.show-menu-btn:hover,.hide-menu-btn:hover{
  color: #fe6931;
}
#chk{
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}
.content{
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4); 
  border: 2px solid #f1f1f1;
  max-width: 55%;
  margin: auto;
  margin: 150px;
  padding: 30px;
  top: 50%;
  left: 50%;
}
h1,h3{
  
  color: #fff;
  font-size: 30px;
  text-align: center;
  padding: 2%;
}
p{
  color: #fff;
  text-align: left;
  padding: 30px;
  font-size: 20px;
}
.fix1{
  display: flex;
  justify-content: center;
  
}
.fix2{
  display: flex;
  justify-content: space-evenly;
}
.row-2{
  flex: 1;
}
.row-3{
  flex: 1;
}
img{
  display: block;
  margin: 30px 0px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
#pt{
  border-radius: 10px;
  max-width: 40%;
}
.about{
  color: #fff;
  padding-top: 2em;

}
.me,.int{
  margin: 0px 30px; 
  padding-top: 4em;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 400px){

  .fix2{
    display: flex;
    flex-direction: column;
  }
  .about{
    color: #fff;
    padding-top: 0.5em;
  }

  .show-menu-btn,.hide-menu-btn{
    display: block;
  }
  .menu {
    position: fixed;
    width: 70%;
    height: 100vh;
    background: #333;   
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0px;
    line-height: normal;
    transition: 0.7s;
  }
  .menu a{
    display: block;
    padding: 20px;
  }
  .hide-menu-btn{
    position: absolute;
    top: 40px;
    right: 40px;
    
  }
  #chk:checked ~ .menu{
    right: 0;
  }
  #pt{
    border-radius: 10px;
    max-width: 70%;
  }
  .me,.int{
    font-size: 17px;
    margin: 0px 30px; 
    padding-top: 2em;
    text-align: center;
    color: #fff;
  }
  p{
    color: #fff;
    text-align: left;
    padding: 30px;
    font-size: 15px;
  }

}
