html,body{
  background-image: url(/WebProject/image/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Nunito', sans-serif;
}
*{
  margin: 0;
  padding: 0;
}

.header{
  height: 100px;
  background: #34495e; 
  padding: 0 20px;
  color: fff;
}

.logo img{
  width: 70px;
  float: left;
  height: auto;
  margin: 15px 0px;
  margin-left: auto;
  margin-right: auto;

}
.menu{
  float: right;
  line-height: 100px;
}
.menu a{
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 5px;
  transition: 0.4s;
  font-size: 18px;
}

.show-menu-btn,.hide-menu-btn{
  transition: 0.4s;
  font-size: 35px;
  cursor: pointer;
  display: none;
}
.show-menu-btn{
  float: right;
}
.show-menu-btn i{
  line-height: 100px;
}
.menu a:hover,.show-menu-btn:hover,.hide-menu-btn:hover{
  color: #fe6931;
}
#chk{
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

h1,h3{
  
  color: #fff;
  font-size: 50px;
  text-align: center;
  padding: 2%;
}
p{
  padding: 15px;
  color: lightsteelblue;
}
.fix1{
  display: flex;
  justify-content: center;
  
}
.fix2{
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
}
.row-2{
  flex: 1;
}
.row-3{
  flex: 1;
}
.me1 img{
  display: block;
  margin: 30px 0px;
  margin-left: auto;
  margin-right: auto;
  max-width: 40%;
  border-radius: 10px;
}
.about{
  color: #fff;
  padding-top: 2em;
  font-size: 40px;

}
.me,.int{
  margin: 0px 30px; 
  padding-top: 4em;
  text-align: center;
  color: #fff;
}
footer{
  width: 100%;
  max-width: 100%;
  margin-top: 2rem;
  text-align: center;
  margin-top: 200px;
}
footer .copyright{
letter-spacing: 0.2rem;
font-size: 0.6rem;
margin-bottom: 0;
text-transform: uppercase;
color: lightsteelblue;
text-decoration: none;

}
footer .copyright a{
text-decoration: none;
color: lightsteelblue;

}
@media screen and (max-width: 550px){

  .fix2{
    display: flex;
    flex-direction: column;
    font-size: 20px;
  }
  .about{
    color: #fff;
    padding-top: 0.5em;
  }

  .show-menu-btn,.hide-menu-btn{
    display: block;
  }
  .menu {
    position: fixed;
    width: 70%;
    height: 100vh;
    background: #333;   
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0px;
    line-height: normal;
    transition: 0.7s;
  }
  .menu a{
    display: block;
    padding: 20px;
    font-size: 15px;
  }
  .hide-menu-btn{
    position: absolute;
    top: 40px;
    right: 40px;
    
  }
  #chk:checked ~ .menu{
    right: 0;
  }
  .me1 img{
    border-radius: 10px;
    max-width: 70%;
  }
  .me,.int{
    font-size: 23px;
    margin: 0px 30px; 
    padding-top: 2em;
    text-align: center;
    color: #fff;
  }
  .about{
    color: #fff;
    padding-top: 2em;
    font-size: 30px;
  
  }
  .logo img{
    width: 55px;
    float: left;
    height: auto;
    margin: 25px 0px;
    margin-left: auto;
    margin-right: auto;
  
  }
}
